{% block form_errors %}

	{% if errors|length > 0 %}
		<div class="mb-4">
			{% for error in errors %}
				<div class="px-2 py-1 text-red-700 dark:text-red-200 mb-1">{{ error.message }}</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
