{% extends 'base.html.twig' %}

{% block body %}
	<form action="{{ path('app_login') }}" method="POST">
		<div>
			<label class="block text-sm text-gray-700 font-medium">Email</label>
			<input type="email" name="_username" value="{{ lastUsername }}" class="block w-full shadow-sm border-gray-300 mt-1 p-2"/>
		</div>
		<div>
			<label class="block text-sm text-gray-700 font-medium">Password</label>
			<input type="password" name="_password" class="block w-full shadow-sm border-gray-300 mt-1 p-2" />
		</div>

        <input type="hidden" name="_target_path" value={{ path('app_micro_post') }} />

        <button type="submit" class="mt-4 text-white py-2 	block w-full border-transparent bg-indigo-600 hover:bg-indigo-500">Login</button>

	</form>

	  <div class="mt-2 text-center">
        <span>Dont have account?</span>
        <a class="font-bold" href="{{ path('app_register') }}">Register</a>
    </div>
{% endblock %}
