{% extends 'base.html.twig' %}

{% block title %}Profile Settings
{% endblock %}

{% block bread %}
-> Profile Settings
{% endblock %}

{% block body %}

{{ include('settings_profile/_settings_profile_tabs.html.twig') }}

    {{ form_start(form) }}
	    {% include "settings_profile/_profile_form.html.twig" %}
        <button type="submit" class="mt-4 text-white py-2 	block w-full border-transparent bg-indigo-600 hover:bg-indigo-500">Save Settings</button>
    {{ form_end (form) }}
{% endblock %}
